.badges {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% + 6px);
  border-radius: var(--br-100);
  background-color: var(--Schemes-Error);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2);
  z-index: 1;
}
.spacer {
  height: var(--height-2);
  width: var(--width-2);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
