.button {
  margin-top: 0;
  background-color: var(--app-primary);
  border: 1px solid var(--app-primary);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
}
.buttonDisabled {
  background-color: var(--app-bg);
  border-color: var(--app-border);
  color: var(--app-text-secondary);
  cursor: not-allowed;
}
