.root {
  width: var(--width-236);
  height: var(--height-56);
  border-radius: var(--br-100);
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  text-align: left;
  font-size: var(--Static-Label-Large-Size);
  color: var(--Schemes-On-Secondary-Container);
  font-family: var(--Static-Label-Large-Font);
}
.root[data-collapsed="true"] {
  width: 64px;
  padding: 0;
  justify-content: center;
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"] {
  background-color: unset;
  z-index: 5;
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"] .icon {
  filter: brightness(0) saturate(100%) invert(26%) sepia(7%) saturate(766%)
    hue-rotate(222deg) brightness(92%) contrast(86%);
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]
  .badgeLabelText,
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]
  .label {
  font-weight: 500;
  color: var(--Schemes-On-Surface-Variant);
}
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"]:hover {
  z-index: 3;
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]:hover {
  background-color: unset;
  z-index: 3;
  justify-content: center;
}
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"] .stateLayer {
  background-color: var(--color-lightsteelblue);
}
.root[data-collapsed="true"] .stateLayer {
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: var(--gap-0);
  flex: none;
  width: 64px;
}
.stateLayer {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  padding: var(--padding-16) var(--padding-24) var(--padding-16)
    var(--padding-16);
  gap: var(--gap-12);
  background-color: transparent;
}
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"] {
  z-index: 4;
}


.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]:hover
  .stateLayer {
  background-color: var(--State-Layers-On-Surface-Variant-Opacity-10);
}
.root[data-collapsed="true"] .label,
.root[data-collapsed="true"] .badgeLabelText {
  display: none;
}
.root[data-collapsed="true"] .icon {
  margin: 0 auto;
  width: var(--width-24);
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]:hover
  .icon,
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"]:hover
  .icon {
  filter: brightness(0) saturate(100%) invert(27%) sepia(14%) saturate(725%)
    hue-rotate(216deg) brightness(94%) contrast(91%);
  height: unset;
  flex-shrink: unset;
  max-height: 100%;
}
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"]:hover
  .label {
  flex-shrink: unset;
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]:hover
  .label {
  font-weight: 500;
  color: var(--Schemes-On-Surface-Variant);
  flex-shrink: unset;
}
.root[data-selected="true"][data-showIcon="true"][data-state="Enabled"]:hover
  .badgeLabelText {
  display: unset;
  flex-shrink: unset;
}
.root[data-selected="false"][data-showIcon="true"][data-state="Enabled"]:hover
  .badgeLabelText {
  font-weight: 500;
  color: var(--Schemes-On-Surface-Variant);
  display: unset;
  flex-shrink: unset;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.badgeLabelText,
.label {
  position: relative;
  letter-spacing: var(--Static-Label-Large-Tracking);
  line-height: var(--Static-Label-Large-Line-Height);
  font-weight: 600;
}
.label {
  flex: 1;
}
.badgeLabelText {
  text-align: right;
}
