.optionnavigation {
  height: var(--height-56);
  width: var(--width-74);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border-radius: var(--br-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.stateLayer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-16);
  position: relative;
  isolation: isolate;
}
.optionnavigation:hover .stateLayer {
  background-color: var(--State-Layers-On-Surface-Variant-Opacity-10);
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-24);
  height: var(--height-24);
  position: relative;
  z-index: 0;
}
