.optionsearch {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-10) var(--padding-0) 320px;
}
@media screen and (max-width: 975px) {
  .optionsearch {
    padding-left: var(--padding-20);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .optionsearch {
    padding-left: 160px;
    box-sizing: border-box;
  }
}
