@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Figma Variables */

  /* Spacing */
  --Static-Body-Large-Line-Height: 24px;
  --Static-Body-Large-Size: 16px;
  --Static-Body-Large-Tracking: 0.5px;
  --Static-Body-Small-Line-Height: 16px;
  --Static-Body-Small-Size: 12px;
  --Static-Body-Small-Tracking: 0.4px;
  --Static-Headline-Small-Line-Height: 32px;
  --Static-Headline-Small-Size: 24px;
  --Static-Headline-Small-Tracking: 0px;
  --Static-Label-Large-Line-Height: 20px;
  --Static-Label-Large-Size: 14px;
  --Static-Label-Large-Tracking: 0.1px;
  --Static-Label-Medium-Line-Height: 16px;
  --Static-Label-Medium-Size: 12px;
  --Static-Label-Medium-Tracking: 0.5px;
  --Static-Title-Large-Line-Height: 28px;
  --Static-Title-Large-Size: 22px;
  --Static-Title-Large-Tracking: 0px;

  /* Color */
  --Color: #c3d2ff;
  --Schemes-Error: #b3261e;
  --Schemes-On-Primary-Container: #4f378a;
  --Schemes-On-Secondary-Container: #4a4459;
  --Schemes-On-Surface: #1d1b20;
  --Schemes-On-Surface-Variant: #49454f;
  --Schemes-Outline: #79747e;
  --Schemes-Primary: #6750a4;
  --Schemes-Surface: #fef7ff;
  --State-Layers-On-Secondary-Container-Opacity-08: rgba(74, 68, 89, 0.08);
  --State-Layers-On-Surface-Variant-Opacity-08: rgba(73, 69, 79, 0.08);
  --State-Layers-On-Surface-Variant-Opacity-10: rgba(73, 69, 79, 0.1);

  /* Font */
  --Static-Body-Large-Font: Roboto;
  --Static-Body-Small-Font: Roboto;
  --Static-Headline-Small-Font: Roboto;
  --Static-Label-Large-Font: Roboto;
  --Static-Label-Medium-Font: Roboto;
  --Static-Title-Large-Font: Roboto;

  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkslategray: rgba(55, 55, 55, 0.62);
  --color-gainsboro: #d9d9d9;
  --color-gray-100: #fafafa;
  --color-gray-200: #8d8d8d;
  --color-gray-300: rgba(0, 0, 0, 0.51);
  --color-lightgray: #d4d3d4;
  --color-lightsteelblue: rgba(195, 210, 255, 0.65);
  --color-red: #ff1010;
  --color-silver-100: #cac4d0;
  --color-silver-200: #ccc4c4;
  --color-silver-300: #b5b5b5;
  --color-silver-400: rgba(181, 181, 181, 0.7);
  --color-white: #fff;
  --color-whitesmoke: #f7f7f7;
  --M3-sys-light-outline: #79747e;

  /* Gap */
  --gap-0: 0px;
  --gap-2: 2px;
  --gap-4: 4px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-15: 15px;
  --gap-19: 19px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-25: 25px;
  --gap-29: 29px;
  --gap-100: 100px;
  --gap-128: 128px;
  --gap-642: 642px;

  /* Padding */
  --padding-0: 0px;
  --padding-01: 0;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-20: 20px;
  --padding-21: 21px;
  --padding-24: 24px;
  --padding-26: 26px;
  --padding-30: 30px;
  --padding-33: 33px;
  --padding-37: 37px;
  --padding-52: 52px;
  --padding-138: 138px;
  --padding-12_3: 12.3px;

  /* BorderRadius */
  --br-0: 0px;
  --br-4: 4px;
  --br-8: 8px;
  --br-10: 10px;
  --br-20: 20px;
  --br-32: 32px;
  --br-50: 50px;
  --br-100: 100px;

  /* FontSize */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;

  /* Borders */
  --border-1: 2px solid var(--color-silver-100);
  --border-2: 2px solid var(--color-lightgray);
  --border-11: 0.5px solid var(--color-silver-400);
  --border-12: 1px dashed var(--color-silver-200);
  --border-13: 2px solid var(--color-lightgray);

  /* Shadows */
  --M3-Elevation-Light-1:
    0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-drop: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
  --shadow-drop-1: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* WidthHeights */
  --height-2: 2px;
  --height-10: 10px;
  --height-16: 16px;
  --height-19: 19px;
  --height-20: 20px;
  --height-23: 23px;
  --height-24: 24px;
  --height-26: 26px;
  --height-28: 28px;
  --height-30: 30px;
  --height-32: 32px;
  --height-33: 33px;
  --height-40: 40px;
  --height-48: 48px;
  --height-51: 51px;
  --height-56: 56px;
  --height-84: 84px;
  --height-108: 108px;
  --height-200: 200px;
  --height-235: 235px;
  --height-290: 290px;
  --height-1024: 1024px;
  --height-108_5: 108.5px;
  --height-9_4: 9.4px;
  --height-auto: auto;
  --min-w-70: 70px;
  --width-2: 2px;
  --width-10: 10px;
  --width-12: 12px;
  --width-18: 18px;
  --width-20: 20px;
  --width-24: 24px;
  --width-38: 38px;
  --width-40: 40px;
  --width-45: 45px;
  --width-48: 48px;
  --width-64: 64px;
  --width-74: 74px;
  --width-80: 80px;
  --width-164: 164px;
  --width-169: 169px;
  --width-180: 180px;
  --width-183: 183px;
  --width-184: 184px;
  --width-186: 186px;
  --width-200: 200px;
  --width-221: 221px;
  --width-236: 236px;
  --width-247: 247px;
  --width-248: 248px;
  --width-350: 350px;
  --width-385: 385px;
  --width-517: 517px;
  --width-542: 542px;
  --width-260_3: 260.3px;
  --width-calc100-44: calc(100% - 44px);

  /* LineHeights */
  --lh-20: 20px;
  --lh-22: 22px;
  --lh-28: 28px;
}
